<p id="notice"><%= notice %></p>

<p>
  <strong>Optiona:</strong>
  <%= @option.optionA %>
</p>

<p>
  <strong>Optionb:</strong>
  <%= @option.optionB %>
</p>

<p>
  <strong>Optionc:</strong>
  <%= @option.optionC %>
</p>

<p>
  <strong>Optiond:</strong>
  <%= @option.optionD %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
