<%- model_class = Exercise -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @exercise.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:information) %>:</strong></dt>
  <dd><%= @exercise.information %></dd>
  <dt><strong><%= model_class.human_attribute_name(:instruction) %>:</strong></dt>
  <dd><%= @exercise.instruction %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hint) %>:</strong></dt>
  <dd><%= @exercise.hint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:solution_code) %>:</strong></dt>
  <dd><%= @exercise.solution_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:default_code) %>:</strong></dt>
  <dd><%= @exercise.default_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tutorial_id) %>:</strong></dt>
  <dd><%= @exercise.tutorial.name %></dd>
</dl>

<div class="form-actions">
  
  <%= link_to t('.back', :default => t("helpers.links.back")),
              exercises_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_exercise_path(@exercise), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              exercise_path(@exercise),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
